<!DOCTYPE HTML>
<html lang = eng>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
<% @user = user %>
<% if @user %>
    <div id = "friend">
       <%= image_tag gravatar_image_url(user.username), class: "pix" %> 
        <div id = "namz">:<%= user.username %></div>
           <div class = "butz"> 
                <% if current_user.friend(@user) %>
                    <%= link_to 'unfriend', delete_friend_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% elsif current_user.sent_request? @user %>
                    <%= link_to 'cancel request', cancel_friend_path(:id => @user.id), method: :delete, class: 'cancel-friend' %>
                <% elsif current_user.friend_requests.include?(@user) %>
                    <%= link_to 'Accept', confirm_friend_path(@user), method: :patch %>
                <% else %>
                    <span class="field add-friend">
                        <%= link_to 'Add friend', friendships_path(:id => @user.id), method: :post %>
                    </span>
             <% end %>
          </div>
    </div><br>
<% end %>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>