<% @friendship = friendship %>
<% if @friendship %>
    <div user class="user-" id="user-<%= @friendship.user.id %>">
        <div id = "friend">
                <%= image_tag gravatar_image_url(user.username),  class: "pix"%>
                <div id = "namz">:<%= user.username %></div>

            <div class = "butz">
                <%= link_to 'Accept request', accept_friendship_path(:id => @friendship.user.id), method: :post, class: 'accept-request' %>
                <%= link_to 'Cancel request', cancel_friendship_path(:friendship_id => @friendship.id), method: :delete, class: 'cancel-request' %>
            </div>
        </div><br>
    </div>
<% end %>