<!doctype html>
<html lang = "en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<div id = "login">
    <body>
    <%= render "devise/shared/error_messages", resource: resource %>
      <p id ="p1">c</p><p id= "p2">o</p><p id= "p3">l</p><p id="p4">0</p><p id="p5">r</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <div id = "rec3">
               <p id= "user">
                <%= f.label :email, 'email' %>:
                <%= f.text_field :email, autofocus: true, autocomplete: "email" , class: "usna" %><br>
              
            
                <%= f.label :password %>:
                <%= f.password_field :password, autocomplete: "current-password" , class: "pass" %>
            
              </p>
                <div id = "check">
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
                </div>
            </div>

            <div class = "actions">
              <%= f.submit "Log in", class: "login-button" %>
            </div>
         <% end %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
    <%= render "devise/shared/links"%>
    

     <p id = "p6">c</p><p id = "p7">h</p><p id ="p8">a</p><p id = "p9">t</p>
</div>
</html>