<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>

    <%= render 'shared/header'%> 
      <% unless @posts.empty? %>
      
      
        <% @posts.each do |post| %><br>
          <div id = "post-box">
              <span class = "cont">
                <p > <strong>Author:</strong> <%= post.user.username %><br></p>
                <p ><strong> Posted: </strong><%= post.description %></p><br>
                </span>
                <p>(<%= time_ago_in_words(post.created_at) %> ago.)</p>
                <p><h3>Comments <%= post.comments.count %></h2></p>
                <p><%= render partial: 'comments/comment', collection: post.comments.reverse %></p><br>
                
                    <h3>Add a comment</h3>
                  <p><%= render 'comments/form', post: post %><p><br>
            </div>
            <% end %>
       <% end %>

</body>
</html>
